
wrapper {position: absolute;

    top: 300%;
padding:  9rem 0 5rem 0;}
  
    .heading{
        position: relative;
    }
    .contact-form {
        max-width: 50rem;
        margin: auto;
    }
.contact-inputs{
          display: flex;
          flex-direction: column;
          gap: 1rem;
}

input[type="submit"] {
    cursor: pointer;
    transition: all 0.2s;
}
.contact-form input{
    height: 50px;
}
          