
.cardslid{
    position: absolute;
    top: 170%;
    left: 25%;
    
}
.cardslid h1{
    font-size: 3rem;
    font-style:italic;
    margin-bottom: 10px;
}
.cardslid p{
    font-size: 23px;
    margin-top: 0;
}
.conteudo{
    width: 450px;
    position: absolute;
    top: 190%;
    right: 30%;
    width: 1000px;
    
}
.card img{
    height: 550px;
    width: 1000px;

}
.carrousel{
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
.carrousel::-webkit-scrollbar {
    display: none;
}
.card {
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
