
.subs h1{
    position: absolute;
    top: 240%;
    color: #000;
    right: 30%;
    font-style: italic;
}
.subs span {
    position: absolute;
    top: 250%;
    color: #000;
    right: 30%;
    font-size: 25px;
}
.image-container{
    position: relative;
    top: 1600px;
    justify-content: space-between;
    left: -0px;
    right: -10px;
    margin-bottom: 30px;
    
}
.image-container img{
    width: 300px;
    height: 300px;
    padding: 2px;
    margin-right: 90px; 
    
}